@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
body {
  background-color: #E6D2AA;
  font-family: 'Sawarabi Mincho', serif;
}
.container {
  width: 70%;
  margin:  2em auto;
  text-align: center;
}
.dice {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  margin-top: 3em;
}
h1 {
  margin: 5px auto 1em;
  font-family: 'Rubik Moonrocks', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #95060B;
}
h6 {
  margin-top: 0;
  font-size: 3rem;
  padding: 0;
  font-family: 'Indie Flower', cursive;
}
p, h6 {
  font-size: 2rem;
  color: #95060B;
}

img {
  width: 80%;
}

footer {
  margin-top: 4%;
  text-align: center;
  font-family: 'Sawarabi Mincho', serif;
  font-size: 1.5rem;
}
footer > a{
  color: #95060B;
  text-decoration: none;
}
.btn button{
  border: solid 0 #9C060C;
  padding:  1em;
  background-color: #9C060C;
  color: #fff ;
  font-size: 1.2rem;
  font-weight: 900;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: #4ECCA3 3px 3px 3px 3px;
}

.btn button:hover{
  background-color: #4ECCA3;
  box-shadow: #b16263 3px 3px 3px 3px;
}
.left{
  border-right: #4ECCA3 solid 2px;
}
.right{
  border-left: #4ECCA3 solid 2px;
}
.dice p{
  margin-top: 0;
}
